@font-face {
  font-family: 'cinemasub';
  src: url('font/DXMSubtitlesM-KSCpc-EUC-H.woff');
  font-weight: normal;
}

:root {
  --purple: #35255b;
  --mint: #037b94;
  --dark-purple: #252450;
  --lightblue: #009eff;
  --black: #0e0a07;
  --white: #ffffff;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'cinemasub';
  min-width: 320px;
}

body {
  padding: 10px;
}

* {
  box-sizing: border-box;
}

.title {
  display: flex;
  flex: row nowrap;
  justify-content: center;
  align-items: center;
  color: var(--white);
  border: 3px solid var(--purple);
  background-color: var(--purple);
  height: 100px;
  font-size: 50px;
}

main {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 10px;
}

.leftside {
  display: flex;
  flex-flow: column nowrap;
  width: 140px;
  flex-shrink: 0;
  border: 5px solid var(--dark-purple);
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.leftside > span {
  font-size: 20px;
}

.container {
  display: flex;
  flex-flow: row wrap;
  flex: 1;
  background-color: var(--white);
  margin-left: 10px;
  align-items: stretch;
  overflow-y: scroll;
}

.card {
  display: flex;
  flex-flow: column nowrap;
  width: 300px;
  min-height: 150px;
  padding: 10px;
  background-color: var(--dark-purple);
  margin: 10px;
}

.card > img {
  width: 100%;
  height: auto;
  object-fit: contain;
  margin-bottom: 10px;
}

.movie-title {
  text-align: center;
  word-break: break-all;
  margin-top: 3px;
  font-size: 18px;
  color: var(--white);
}

.movie-review {
  text-align: left;
  word-break: break-all;
  margin-top: 3px;
  font-size: 15px;
  color: var(--white);
}

@media (max-width: 1024px) {
  .card {
    background-color: var(--lightblue);
  }
}

@media (max-width: 768px) {
  .card {
    background-color: var(--mint);
  }
}
